<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AyAPrueba.DS.BD.conexion" connectionString="Data Source=LINK\SQLEXPRESS;Initial Catalog=InvTI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>